@import url(https://fonts.googleapis.com/css?family=PT+Serif:400,400i,700,700i);
@import url(https://fonts.googleapis.com/css?family=Slabo+27px);


#dropdown-menu-4 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-4 .nav .link,
#dropdown-menu-4 .dropdown-item {
  font-size: 1.2em;
  color: #f7da64;
}
#dropdown-menu-4 .navbar,
#dropdown-menu-4 .dropdown-menu {
  background: #2969b0;
}
#dropdown-menu-4 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-4 .dropdown-menu a:hover,
#dropdown-menu-4 .dropdown-menu a:focus {
  background: #255f9f;
}
#dropdown-menu-4 .navbar-toggler {
  color: #f7da64;
}
#content5-4x .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-4x .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-4x .mbr-article {
  color: #fff;
}
#content5-4x .mbr-article P {
  color: #efefef;
  font-size: 22px;
  font-family: 'PT Serif', serif;
}
#header2-d P {
  font-family: 'Slabo 27px', serif;
}

#dropdown-menu-1 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-1 .nav .link,
#dropdown-menu-1 .dropdown-item {
  font-size: 1.2em;
  color: #f7da64;
}
#dropdown-menu-1 .navbar,
#dropdown-menu-1 .dropdown-menu {
  background: #2969b0;
}
#dropdown-menu-1 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-1 .dropdown-menu a:hover,
#dropdown-menu-1 .dropdown-menu a:focus {
  background: #255f9f;
}
#dropdown-menu-1 .navbar-toggler {
  color: #f7da64;
}
#header2-c P {
  text-align: left;
  font-size: 21px;
  font-family: 'Slabo 27px', serif;
}

#dropdown-menu-e .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-e .nav .link,
#dropdown-menu-e .dropdown-item {
  font-size: 1.2em;
  color: #f7da64;
}
#dropdown-menu-e .navbar,
#dropdown-menu-e .dropdown-menu {
  background: #2969b0;
}
#dropdown-menu-e .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-e .dropdown-menu a:hover,
#dropdown-menu-e .dropdown-menu a:focus {
  background: #255f9f;
}
#dropdown-menu-e .navbar-toggler {
  color: #f7da64;
}
#header2-f P {
  text-align: left;
  font-size: 21px;
  font-family: 'Slabo 27px', serif;
}

#dropdown-menu-i .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-i .nav .link,
#dropdown-menu-i .dropdown-item {
  font-size: 1.2em;
  color: #f7da64;
}
#dropdown-menu-i .navbar,
#dropdown-menu-i .dropdown-menu {
  background: #2969b0;
}
#dropdown-menu-i .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-i .dropdown-menu a:hover,
#dropdown-menu-i .dropdown-menu a:focus {
  background: #255f9f;
}
#dropdown-menu-i .navbar-toggler {
  color: #f7da64;
}
#header2-j P {
  text-align: left;
  font-size: 21px;
  font-family: 'Slabo 27px', serif;
}

#dropdown-menu-n .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-n .nav .link,
#dropdown-menu-n .dropdown-item {
  font-size: 1.2em;
  color: #f7da64;
}
#dropdown-menu-n .navbar,
#dropdown-menu-n .dropdown-menu {
  background: #2969b0;
}
#dropdown-menu-n .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-n .dropdown-menu a:hover,
#dropdown-menu-n .dropdown-menu a:focus {
  background: #255f9f;
}
#dropdown-menu-n .navbar-toggler {
  color: #f7da64;
}
#header2-o P {
  text-align: left;
  font-size: 21px;
  font-family: 'Slabo 27px', serif;
}

#dropdown-menu-s .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-s .nav .link,
#dropdown-menu-s .dropdown-item {
  font-size: 1.2em;
  color: #f7da64;
}
#dropdown-menu-s .navbar,
#dropdown-menu-s .dropdown-menu {
  background: #2969b0;
}
#dropdown-menu-s .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-s .dropdown-menu a:hover,
#dropdown-menu-s .dropdown-menu a:focus {
  background: #255f9f;
}
#dropdown-menu-s .navbar-toggler {
  color: #f7da64;
}
#header2-t P {
  text-align: left;
  font-size: 21px;
  font-family: 'Slabo 27px', serif;
}

#dropdown-menu-w .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-w .nav .link,
#dropdown-menu-w .dropdown-item {
  font-size: 1.2em;
  color: #f7da64;
}
#dropdown-menu-w .navbar,
#dropdown-menu-w .dropdown-menu {
  background: #2969b0;
}
#dropdown-menu-w .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-w .dropdown-menu a:hover,
#dropdown-menu-w .dropdown-menu a:focus {
  background: #255f9f;
}
#dropdown-menu-w .navbar-toggler {
  color: #f7da64;
}
#header2-x P {
  text-align: left;
  font-size: 21px;
  font-family: 'Slabo 27px', serif;
}

#dropdown-menu-10 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-10 .nav .link,
#dropdown-menu-10 .dropdown-item {
  font-size: 1.2em;
  color: #f7da64;
}
#dropdown-menu-10 .navbar,
#dropdown-menu-10 .dropdown-menu {
  background: #2969b0;
}
#dropdown-menu-10 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-10 .dropdown-menu a:hover,
#dropdown-menu-10 .dropdown-menu a:focus {
  background: #255f9f;
}
#dropdown-menu-10 .navbar-toggler {
  color: #f7da64;
}
#header2-11 P {
  text-align: left;
  font-size: 21px;
  font-family: 'Slabo 27px', serif;
}

#dropdown-menu-14 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-14 .nav .link,
#dropdown-menu-14 .dropdown-item {
  font-size: 1.2em;
  color: #f7da64;
}
#dropdown-menu-14 .navbar,
#dropdown-menu-14 .dropdown-menu {
  background: #2969b0;
}
#dropdown-menu-14 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-14 .dropdown-menu a:hover,
#dropdown-menu-14 .dropdown-menu a:focus {
  background: #255f9f;
}
#dropdown-menu-14 .navbar-toggler {
  color: #f7da64;
}
#header2-15 P {
  text-align: left;
  font-size: 21px;
  font-family: 'Slabo 27px', serif;
}

#dropdown-menu-18 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-18 .nav .link,
#dropdown-menu-18 .dropdown-item {
  font-size: 1.2em;
  color: #f7da64;
}
#dropdown-menu-18 .navbar,
#dropdown-menu-18 .dropdown-menu {
  background: #2969b0;
}
#dropdown-menu-18 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-18 .dropdown-menu a:hover,
#dropdown-menu-18 .dropdown-menu a:focus {
  background: #255f9f;
}
#dropdown-menu-18 .navbar-toggler {
  color: #f7da64;
}
#header2-19 P {
  text-align: left;
  font-size: 21px;
  font-family: 'Slabo 27px', serif;
}
#dropdown-menu-1m .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-1m .nav .link,
#dropdown-menu-1m .dropdown-item {
  font-size: 1.2em;
  color: #f7da64;
}
#dropdown-menu-1m .navbar,
#dropdown-menu-1m .dropdown-menu {
  background: #2969b0;
}
#dropdown-menu-1m .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-1m .dropdown-menu a:hover,
#dropdown-menu-1m .dropdown-menu a:focus {
  background: #255f9f;
}
#dropdown-menu-1m .navbar-toggler {
  color: #f7da64;
}
#msg-box1-1o .mbr-header .mbr-header__text {
  color: #fff;
  text-align: center;
}
#msg-box1-1o .mbr-article {
  color: #fff;
}
#dropdown-menu-1r .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-1r .nav .link,
#dropdown-menu-1r .dropdown-item {
  font-size: 1.2em;
  color: #f7da64;
}
#dropdown-menu-1r .navbar,
#dropdown-menu-1r .dropdown-menu {
  background: #2969b0;
}
#dropdown-menu-1r .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-1r .dropdown-menu a:hover,
#dropdown-menu-1r .dropdown-menu a:focus {
  background: #255f9f;
}
#dropdown-menu-1r .navbar-toggler {
  color: #f7da64;
}
#msg-box1-1t .mbr-header .mbr-header__text {
  color: #fff;
  text-align: center;
}
#msg-box1-1t .mbr-article {
  color: #fff;
}
#dropdown-menu-1g .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-1g .nav .link,
#dropdown-menu-1g .dropdown-item {
  font-size: 1.2em;
  color: #f7da64;
}
#dropdown-menu-1g .navbar,
#dropdown-menu-1g .dropdown-menu {
  background: #2969b0;
}
#dropdown-menu-1g .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-1g .dropdown-menu a:hover,
#dropdown-menu-1g .dropdown-menu a:focus {
  background: #255f9f;
}
#dropdown-menu-1g .navbar-toggler {
  color: #f7da64;
}
#msg-box1-1k .mbr-header .mbr-header__text {
  color: #fff;
  text-align: center;
}
#msg-box1-1k .mbr-article {
  color: #fff;
}

#dropdown-menu-1w .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-1w .nav .link,
#dropdown-menu-1w .dropdown-item {
  font-size: 1.2em;
  color: #f7da64;
}
#dropdown-menu-1w .navbar,
#dropdown-menu-1w .dropdown-menu {
  background: #2969b0;
}
#dropdown-menu-1w .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-1w .dropdown-menu a:hover,
#dropdown-menu-1w .dropdown-menu a:focus {
  background: #255f9f;
}
#dropdown-menu-1w .navbar-toggler {
  color: #f7da64;
}
#header2-1x P {
  text-align: left;
  font-size: 21px;
  font-family: 'Slabo 27px', serif;
}
#dropdown-menu-20 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-20 .nav .link,
#dropdown-menu-20 .dropdown-item {
  font-size: 1.2em;
  color: #f7da64;
}
#dropdown-menu-20 .navbar,
#dropdown-menu-20 .dropdown-menu {
  background: #2969b0;
}
#dropdown-menu-20 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-20 .dropdown-menu a:hover,
#dropdown-menu-20 .dropdown-menu a:focus {
  background: #255f9f;
}
#dropdown-menu-20 .navbar-toggler {
  color: #f7da64;
}
#content1-3y P {
  text-align: center;
  color: #000000;
}
#buttons1-4m .btn {
  font-size: 23px;
}
#dropdown-menu-27 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-27 .nav .link,
#dropdown-menu-27 .dropdown-item {
  font-size: 1.2em;
  color: #f7da64;
}
#dropdown-menu-27 .navbar,
#dropdown-menu-27 .dropdown-menu {
  background: #2969b0;
}
#dropdown-menu-27 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-27 .dropdown-menu a:hover,
#dropdown-menu-27 .dropdown-menu a:focus {
  background: #255f9f;
}
#dropdown-menu-27 .navbar-toggler {
  color: #f7da64;
}
#msg-box4-30 .mbr-header__text {
  color: #ffffff;
  font-size: 36px;
}
#msg-box4-30 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-30 .mbr-article {
  color: #ffffff;
}
#content5-2e .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-2e .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-2e .mbr-article {
  color: #fff;
}
#dropdown-menu-2f .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2f .nav .link,
#dropdown-menu-2f .dropdown-item {
  font-size: 1.2em;
  color: #f7da64;
}
#dropdown-menu-2f .navbar,
#dropdown-menu-2f .dropdown-menu {
  background: #2969b0;
}
#dropdown-menu-2f .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2f .dropdown-menu a:hover,
#dropdown-menu-2f .dropdown-menu a:focus {
  background: #255f9f;
}
#dropdown-menu-2f .navbar-toggler {
  color: #f7da64;
}
#msg-box4-31 .mbr-header__text {
  color: #ffffff;
  font-size: 36px;
}
#msg-box4-31 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-31 .mbr-article {
  color: #ffffff;
}
#content5-2i .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-2i .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-2i .mbr-article {
  color: #fff;
}
#dropdown-menu-2k .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2k .nav .link,
#dropdown-menu-2k .dropdown-item {
  font-size: 1.2em;
  color: #f7da64;
}
#dropdown-menu-2k .navbar,
#dropdown-menu-2k .dropdown-menu {
  background: #2969b0;
}
#dropdown-menu-2k .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2k .dropdown-menu a:hover,
#dropdown-menu-2k .dropdown-menu a:focus {
  background: #255f9f;
}
#dropdown-menu-2k .navbar-toggler {
  color: #f7da64;
}
#msg-box4-33 .mbr-header__text {
  color: #ffffff;
  font-size: 36px;
}
#msg-box4-33 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-33 .mbr-article {
  color: #ffffff;
}
#msg-box4-33 .mbr-article P {
  text-align: left;
}
#content5-2n .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-2n .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-2n .mbr-article {
  color: #fff;
}
#dropdown-menu-1 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-1 .nav .link,
#dropdown-menu-1 .dropdown-item {
  font-size: 1.2em;
  color: #f7da64;
}
#dropdown-menu-1 .navbar,
#dropdown-menu-1 .dropdown-menu {
  background: #2969b0;
}
#dropdown-menu-1 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-1 .dropdown-menu a:hover,
#dropdown-menu-1 .dropdown-menu a:focus {
  background: #255f9f;
}
#dropdown-menu-1 .navbar-toggler {
  color: #f7da64;
}
#msg-box4-34 .mbr-header__text {
  color: #ffffff;
  font-size: 36px;
}
#msg-box4-34 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-34 .mbr-article {
  color: #ffffff;
}
#content5-2s .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-2s .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-2s .mbr-article {
  color: #fff;
}
#msg-box4-2z .mbr-header__text {
  color: #ffffff;
  font-size: 36px;
}
#msg-box4-2z .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-2z .mbr-article {
  color: #ffffff;
}
#dropdown-menu-2u .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2u .nav .link,
#dropdown-menu-2u .dropdown-item {
  font-size: 1.2em;
  color: #f7da64;
}
#dropdown-menu-2u .navbar,
#dropdown-menu-2u .dropdown-menu {
  background: #2969b0;
}
#dropdown-menu-2u .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2u .dropdown-menu a:hover,
#dropdown-menu-2u .dropdown-menu a:focus {
  background: #255f9f;
}
#dropdown-menu-2u .navbar-toggler {
  color: #f7da64;
}
#content5-2x .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-2x .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-2x .mbr-article {
  color: #fff;
}
#msg-box4-35 .mbr-header__text {
  color: #ffffff;
  font-size: 36px;
}
#msg-box4-35 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-35 .mbr-article {
  color: #ffffff;
}
#dropdown-menu-36 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-36 .nav .link,
#dropdown-menu-36 .dropdown-item {
  font-size: 1.2em;
  color: #f7da64;
}
#dropdown-menu-36 .navbar,
#dropdown-menu-36 .dropdown-menu {
  background: #2969b0;
}
#dropdown-menu-36 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-36 .dropdown-menu a:hover,
#dropdown-menu-36 .dropdown-menu a:focus {
  background: #255f9f;
}
#dropdown-menu-36 .navbar-toggler {
  color: #f7da64;
}
#content5-38 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-38 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-38 .mbr-article {
  color: #fff;
}
#msg-box4-3a .mbr-header__text {
  color: #ffffff;
  font-size: 36px;
}
#msg-box4-3a .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-3a .mbr-article {
  color: #ffffff;
}
#dropdown-menu-3b .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-3b .nav .link,
#dropdown-menu-3b .dropdown-item {
  font-size: 1.2em;
  color: #f7da64;
}
#dropdown-menu-3b .navbar,
#dropdown-menu-3b .dropdown-menu {
  background: #2969b0;
}
#dropdown-menu-3b .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-3b .dropdown-menu a:hover,
#dropdown-menu-3b .dropdown-menu a:focus {
  background: #255f9f;
}
#dropdown-menu-3b .navbar-toggler {
  color: #f7da64;
}
#content5-3d .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-3d .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-3d .mbr-article {
  color: #fff;
}
#msg-box4-3f .mbr-header__text {
  color: #ffffff;
  font-size: 36px;
}
#msg-box4-3f .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-3f .mbr-article {
  color: #ffffff;
}
#dropdown-menu-3g .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-3g .nav .link,
#dropdown-menu-3g .dropdown-item {
  font-size: 1.2em;
  color: #f7da64;
}
#dropdown-menu-3g .navbar,
#dropdown-menu-3g .dropdown-menu {
  background: #2969b0;
}
#dropdown-menu-3g .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-3g .dropdown-menu a:hover,
#dropdown-menu-3g .dropdown-menu a:focus {
  background: #255f9f;
}
#dropdown-menu-3g .navbar-toggler {
  color: #f7da64;
}
#content5-3i .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-3i .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-3i .mbr-article {
  color: #fff;
}
#msg-box4-3k .mbr-header__text {
  color: #ffffff;
  font-size: 36px;
}
#msg-box4-3k .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-3k .mbr-article {
  color: #ffffff;
}
#dropdown-menu-3l .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-3l .nav .link,
#dropdown-menu-3l .dropdown-item {
  font-size: 1.2em;
  color: #f7da64;
}
#dropdown-menu-3l .navbar,
#dropdown-menu-3l .dropdown-menu {
  background: #2969b0;
}
#dropdown-menu-3l .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-3l .dropdown-menu a:hover,
#dropdown-menu-3l .dropdown-menu a:focus {
  background: #255f9f;
}
#dropdown-menu-3l .navbar-toggler {
  color: #f7da64;
}
#content5-3n .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-3n .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-3n .mbr-article {
  color: #fff;
}
#dropdown-menu-3z .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-3z .nav .link,
#dropdown-menu-3z .dropdown-item {
  font-size: 1.2em;
  color: #f7da64;
}
#dropdown-menu-3z .navbar,
#dropdown-menu-3z .dropdown-menu {
  background: #2969b0;
}
#dropdown-menu-3z .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-3z .dropdown-menu a:hover,
#dropdown-menu-3z .dropdown-menu a:focus {
  background: #255f9f;
}
#dropdown-menu-3z .navbar-toggler {
  color: #f7da64;
}
#features1-41 .mbr-section-title .mbr-header__text {
  font-size: 36px;
}
#features1-41 .btn {
  font-size: 15px;
}
#msg-box4-47 .mbr-header__text {
  color: #ffffff;
  font-size: 36px;
}
#msg-box4-47 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-47 .mbr-article {
  color: #ffffff;
}
#dropdown-menu-48 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-48 .nav .link,
#dropdown-menu-48 .dropdown-item {
  font-size: 1.2em;
  color: #f7da64;
}
#dropdown-menu-48 .navbar,
#dropdown-menu-48 .dropdown-menu {
  background: #2969b0;
}
#dropdown-menu-48 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-48 .dropdown-menu a:hover,
#dropdown-menu-48 .dropdown-menu a:focus {
  background: #255f9f;
}
#dropdown-menu-48 .navbar-toggler {
  color: #f7da64;
}
#content5-4a .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-4a .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-4a .mbr-article {
  color: #fff;
}
#msg-box4-4c .mbr-header__text {
  color: #ffffff;
  font-size: 36px;
}
#msg-box4-4c .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-4c .mbr-article {
  color: #ffffff;
}
#dropdown-menu-4d .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-4d .nav .link,
#dropdown-menu-4d .dropdown-item {
  font-size: 1.2em;
  color: #f7da64;
}
#dropdown-menu-4d .navbar,
#dropdown-menu-4d .dropdown-menu {
  background: #2969b0;
}
#dropdown-menu-4d .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-4d .dropdown-menu a:hover,
#dropdown-menu-4d .dropdown-menu a:focus {
  background: #255f9f;
}
#dropdown-menu-4d .navbar-toggler {
  color: #f7da64;
}
#content5-4f .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-4f .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-4f .mbr-article {
  color: #fff;
}
#dropdown-menu-4n .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-4n .nav .link,
#dropdown-menu-4n .dropdown-item {
  font-size: 1.2em;
  color: #f7da64;
}
#dropdown-menu-4n .navbar,
#dropdown-menu-4n .dropdown-menu {
  background: #2969b0;
}
#dropdown-menu-4n .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-4n .dropdown-menu a:hover,
#dropdown-menu-4n .dropdown-menu a:focus {
  background: #255f9f;
}
#dropdown-menu-4n .navbar-toggler {
  color: #f7da64;
}
#header3-57 H3 {
  text-align: center;
}
#content5-4w .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-4w .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-4w .mbr-article {
  color: #fff;
}
#content5-4w .mbr-article P {
  text-align: left;
}
#dropdown-menu-58 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-58 .nav .link,
#dropdown-menu-58 .dropdown-item {
  font-size: 1.2em;
  color: #f7da64;
}
#dropdown-menu-58 .navbar,
#dropdown-menu-58 .dropdown-menu {
  background: #2969b0;
}
#dropdown-menu-58 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-58 .dropdown-menu a:hover,
#dropdown-menu-58 .dropdown-menu a:focus {
  background: #255f9f;
}
#dropdown-menu-58 .navbar-toggler {
  color: #f7da64;
}
#msg-box4-5a .mbr-header__text {
  color: #ffffff;
}
#msg-box4-5a .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-5a .mbr-article {
  color: #ffffff;
}
#dropdown-menu-5k .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-5k .nav .link,
#dropdown-menu-5k .dropdown-item {
  font-size: 1.2em;
  color: #f7da64;
}
#dropdown-menu-5k .navbar,
#dropdown-menu-5k .dropdown-menu {
  background: #2969b0;
}
#dropdown-menu-5k .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-5k .dropdown-menu a:hover,
#dropdown-menu-5k .dropdown-menu a:focus {
  background: #255f9f;
}
#dropdown-menu-5k .navbar-toggler {
  color: #f7da64;
}
#dropdown-menu-1 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-1 .nav .link,
#dropdown-menu-1 .dropdown-item {
  font-size: 1.2em;
  color: #f7da64;
}
#dropdown-menu-1 .navbar,
#dropdown-menu-1 .dropdown-menu {
  background: #2969b0;
}
#dropdown-menu-1 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-1 .dropdown-menu a:hover,
#dropdown-menu-1 .dropdown-menu a:focus {
  background: #255f9f;
}
#dropdown-menu-1 .navbar-toggler {
  color: #f7da64;
}
#header3-5q P {
  text-align: center;
}
#header3-5q H3 {
  font-size: 20px;
}
#msg-box4-1d .mbr-header__text {
  color: #ffffff;
}
#msg-box4-1d .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-1d .mbr-article {
  color: #ffffff;
}
